.border-shadow {
	width: 17rem;
	background-color: #FFFFFF;
	margin: 0 10px 10px 0;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
	border-radius: 5px;
}

.border-shadow:hover {
	width: 17rem;
	background-color: #FFFFFF;
	margin: 0 10px 10px 0;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
	transition-duration: 0.5s;
	transition-timing-function: linear;
	border-radius: 5px;
}

.active-bottom {
	text-align: center;
	border-bottom: 3px solid #FEDD00;
	margin: 0 10px;
}
.active-bottom:hover {
	text-align: center;
    border-bottom: 3px solid #3AAA3A;
}

.border-bottom { 
	text-align: center;
	border-bottom: 3px solid #FEDD00;
 	margin: 0 10px;
}
.border-bottom:hover {
	text-align: center;
    border-bottom: 3px solid #3AAA3A;
    transition-duration: 0.5s;
	transition-timing-function: linear;
}





